body {
  background-color: rgb(255, 255, 255);
  font: normal 12pt/1.60 'Georgia';
  color: rgb(0, 0, 0);
  text-align: center;
  padding-bottom: 60px;
}


.main_container {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
}

.box_container {
  display: inline-block;
  position: relative;
  max-width: 1200px;
}

.g75 {
  display: block;
  position: relative;
  float: left;
  width: 900px;
  height: 600px;
  background-color: blue;
}

.g50 {
  display: block;
  position: relative;
  float: left;
  width: 600px;
  height: 600px;
  background-color: blue;
}

.g25 {
  display: block;
  position: relative;
  float: left;
  width: 300px;
  height: 300px;
  background-color: tomato;
}

.ivory {
  background-color: #F4F5F5;
}

.persiangreen {
  background-color: #00AE91;
}

.white {
  color: #fff;
}

.preview_left {
  display: block;
  position: relative;
  float: left;
  width: 50%;
}

.preview_right {
  display: block;
  position: relative;
  float: left;
  width: 50%;
}

.padding40 {
  padding: 40px;
}

.tv_image {
  height: 345px;
  background-image: url('../images/tv_experience@2x.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100%;
}

.framework_image {
  height: 599px;
  background-image: url('../images/framework_preview@2x.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100%;
}


.myface_container {
  display: inline-block;
  position: relative;
  width: 100%;
}



.name h1{
  text-align: center;
  font-size: 3em;
  font-weight: 500;
}

.name p {
  text-align: center;
  padding-bottom: 20px;
  font-size: 1.33em;
}


.button_more {
  display: block;
  background-color: #fff;
  padding: 5px 20px 5px 20px;
  border: 2px solid #000;
  font: normal 1em/1.30 'Oswald';
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.button_more:hover {
  background-color: #FDFF22;
}

h1 {
  text-align: left;
  color:#000;
  padding-bottom: 5px;
  font: normal 2.2em/1.30 'Oswald';
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

@media only screen and (max-width: 600px) {

  .name {
    width: 100%;
    position: relative;
    text-align: center;
  }

  .box_container {
    display: inline-block;
    position: relative;
    width: 100%;
  }


  .g75 {
    display: block;
    position: relative;
    float: none;
    width: 100%;
    height: 600px;
    background-color: blue;
  }

  .g50 {
    display: block;
    position: relative;
    float: none;
    width: 100%;
    height: 60px;
    background-color: blue;
  }

  .g25 {
    display: block;
    position: relative;
    float: none;
    width: 100%;
    height: 30px;
    background-color: tomato;
  }

}
